#board {
  width: 640px;
  height: 640px;
  border: 1px solid #CCC;
  margin: 0 auto;
  position: relative;
}

.square {
  width: 80px;
  height: 80px;
  float: left;
  position: relative;
}

.white {
  background-color: #FFF;
}

.black {
  background-color: #888;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.overlay.red {
  background-color: red;
}

.overlay.yellow {
  background-color: yellow;
}

.overlay.green {
  background-color: green;
}

.piece {
  width: 60px;
  height: 60px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.piece img {
  width: 60px;
  height: 60px;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.promotion-modal {
  width: 40%;
  height: 40%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #FFF;
  border: 3px solid #000;
  margin: auto;
}

.promotion-modal .title {
  text-align: center;
  line-height: 1.25;
}

.promotion-modal .pieces {
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
  width: 184px;
}

.promotion-modal .pieces li {
  float: left;
  /*width: 80px;
  height: 80px;*/
  border: 1px solid #000;
  margin-bottom: 20px;
}

.promotion-modal .pieces li:nth-child(2n) {
  margin-left: 20px;
}
